

<footer class="bg-primary shadow-sm mt-auto">
    <div class="w-full max-w-screen-xl mx-auto p-3 md:py-4">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="{{ path('homepage') }}" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="{{ asset('images/1.png') }}" class="h-8" alt="Ecoride Logo" />
                <span class="self-center text-title font-title  text-textPrimary whitespace-nowrap">Ecoride</span>
            </a>
            <ul class="flex flex-wrap items-center mb-3 sm:mb-0">

                </li>
                <li>
                    <a href="{{ path('app_legal') }}" class="block py-1 px-3 text-body font-base text-textSecondary hover:text-accentDark">Mentions légales</a>
                </li>
                <li>
                    <a href="#" class="block py-1 px-3 text-body font-base text-textSecondary hover:text-accentDark">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bg-primaryLight">
        <div class="w-full max-w-screen-xl mx-auto px-3 py-2">
            <span class="block text-body font-base text-textSecondary sm:text-center">© 2025 <a href="{{ path('homepage') }}" class="hover:underline">Ecoride</a>.Tous droits réservés.</span>
        </div>
    </div>
</footer>

