{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<section class="container mx-auto px-4 py-8">
    <h1 class="text-title font-title text-textPrimary">Mentions légales</h1>
    <p class="text-body font-base text-textSecondary">
        Ce site est édité par : Perrocheau Tom dans le cadre d'un projet de fin d'études.
    </p>
    <br>
    <ul>
        <li>
            <p class="text-body font-base text-textSecondary">
                <strong>Nom du site :</strong> Ecoride
            </p>
        </li>
        <li>
            <p class="text-body font-base text-textSecondary">
                <strong>Adresse :</strong> 123 Rue de la Paix, 75000 Paris
            </p>
        </li>
        <li>
            <p class="text-body font-base text-textSecondary">
                <strong>Téléphone :</strong> 01 23 45 67 89
            </p>
        </li>
        <li>
            <p class="text-body font-base text-textSecondary">
                <strong>Email :</strong> contact@ecoride.fr
            </p>
        </li>
        <li>
            <p class="text-body font-base text-textSecondary">
                <strong>Site web :</strong> <a href="https://ecoride.fr">https://ecoride.fr</a>
            </p>
        </li>
        <li>
            <p class="text-body font-base text-textSecondary">
                <strong>Hébergeur :</strong> ABC
            </p>
        </li>
        <li>
            <p class="text-body font-base text-textSecondary">
                <strong>Directeur de la publication :</strong> Perrocheau Tom
            </p>
        </li>
        <li>
            <p class="text-body font-base text-textSecondary">
                <strong>Création de site :</strong> Perrocheau Tom
            </p>
        </li>
    </ul>
    <p class="mt-6 text-sm text-tSecondaryLight">
        Conformément à la loi n°2004-575 du 21 juin 2004, toute reproduction partielle ou totale est interdite sans autorisation.
    </p>
</section>
{% endblock %}
