<header>
        <nav class="navbar">
            <div class="navbar-container">
                <div class="navbar-logo"></div>
                <!-- Menu -->
                <ul class="navbar-menu">
                    <li><a href="index.html" class="active">Accueil</a></li>
                    <li><a href="covoiturages.html">Covoiturages</a></li>
                    <li><a href="annonce.html">Publier une annonce</a></li>
                    <li><a href="connexion.html">Connexion</a></li>
                </ul>

                <!-- Menu mobile (Hamburger icon) -->
                <div class="navbar-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>
</header>
