{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
    <div class="bg-primary text-background font-title text-4xl p-4">
        Couleur primaire avec police Raleway (titre)
    </div>

    <div class="bg-accent text-textPrimary font-body text-base p-4 mt-4">
        Couleur accent avec police Quicksand (texte)
    </div>

    <p class="mt-4">Tu es connecté en tant que <strong>{{ user.pseudo }}</strong></p>
{% endblock %}