/* ===================== VARIABLES GLOBALES ===================== */
:root {
    --text-primary: #2F4F4F; /* Texte principal */
    --text-secondary: #B0B0B0; /* Texte secondaire */
    --button-primary: #008080; /* Bouton principal */
    --button-hover: #005F5F; /* Hover des boutons */
    --background-main: #E8E6E3; /* Arrière-plan principal */
    --background-secondary: #C8B9A6; /* Arrière-plan secondaire */
}

/* Reset général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================== BASE & LAYOUT ===================== */
html, body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-primary);
    background-color: var(--background-main);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main p,
main a,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    padding: 1rem;
}

main, h1 {
    padding-bottom: 1rem;
}

/* Bouton de retour en haut */
.scroll-to-top {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: var(--button-primary);
    color: var(--background-main);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
    background-color: var(--button-hover);
}

.scroll-to-top.show {
    display: block;
    opacity: 1;
    transform: scale(1);
}